################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/cpptest2/Debug/cpptest2.tlog
/cpptest2/Debug
/Debug
